*{
    box-sizing: border-box;
    
}

body {
    padding:200px;
    padding-top:0px;
    background-size: 100%;
    background-color: peru;
   
}

.largeButton {
    color:Black;
    background-color:greenyellow;
    size: 20px;
    padding: 20px;
   position:absolute; 
   top:100px; 
   left:200px;  
}

#title{
    padding-top:-20px;
    text-align:center;
    border-style: solid;
    background-color: black;
    border-color: black;
    color:white;
    font-size:50px;
}

#timeLeft {
    text-align:center;
    color:darkblue;
}

.Question {
    color: purple;
    font-size:20px;
    font-family: fantasy;
    
}

#totalanswers {
    color: darkblue;
    font-size:20px;
    font-family: fantasy;
}

#correct {
    color: green;
    font-size:20px;
    font-family:fantasy;
}

#incorrect {
    color: red;
    font-size:20px;
    font-family:fantasy;
}

#unanswered {
    color: purple;
    font-size:20px;
    font-family:fantasy; 
}

.submit {
    color:Black;
    background-color:greenyellow;
    size: 20px;
    padding: 20px;
   float:center;
}



